{{> header}}
{{> navbar}}
<h1 id="clase"><i>Leonardo da Vinci</i></h1>
    <hr>
    <p><img src="images/b1.jpg" alt="Leonardo da Vinci" width="300" height="400" style="margin: 10px 10px 10px 0px; float:left;">Leonardo da Vinci (Leonardo di ser Piero da Vinci) Loudspeaker.svg escuchar (Vinci, 15 de abril de 1452-Amboise, 2 de mayo de 1519) fue un polímata florentino del Renacimiento italiano. Fue a la vez pintor, anatomista, arquitecto, paleontólogo, artista, botánico, científico, escritor, escultor, filósofo, ingeniero, inventor, músico, poeta y urbanista. Murió acompañado de Francesco Melzi,​ a quien legó sus proyectos, diseños y pinturas. Tras pasar su infancia en su ciudad natal, Leonardo estudió con el pintor florentino Andrea de Verrocchio. Sus primeros trabajos de importancia fueron creados en Milán al servicio del duque Ludovico Sforza. Trabajó a continuación en Roma, Bolonia y Venecia, y pasó sus últimos años en Francia, por invitación del rey Francisco I.
        <br>
        Frecuentemente descrito como un arquetipo y símbolo del hombre del Renacimiento, genio universal, además de filósofo humanista cuya curiosidad infinita solo puede ser equiparable a su capacidad inventiva,​ Leonardo da Vinci es considerado uno de los más grandes pintores de todos los tiempos y, probablemente, la persona con el mayor número de talentos en múltiples disciplinas que jamás ha existido.Como ingeniero e inventor, Leonardo desarrolló ideas muy adelantadas a su tiempo, tales como el helicóptero, el carro de combate, el submarino y el automóvil. Muy pocos de sus proyectos llegaron a construirse (entre ellos la máquina para medir el límite elástico de un cable), puesto que la mayoría no eran realizables durante esa época.​Como científico, Leonardo da Vinci hizo progresar mucho el conocimiento en las áreas de anatomía, la ingeniería civil, la óptica y la hidrodinámica.
        <br>
        Su asociación histórica más famosa es la pintura. Dos de sus obras más conocidas, La Gioconda y La Última Cena, han sido copiadas y parodiadas en varias ocasiones, al igual que su dibujo del Hombre de Vitruvio. No obstante, únicamente se conocen alrededor de 20 obras suyas, debido principalmente a sus reiterados (y a veces desastrosos) experimentos con nuevas técnicas y a su inconstancia crónica. Este reducido número de creaciones, junto con sus cuadernos con dibujos, diagramas científicos y reflexiones sobre la naturaleza de la pintura, constituyen un legado para las sucesivas generaciones de artistas.</p>
    <h2 id="clase1"><i>Pinturas de Leonardo da Vinci</i></h2>
    <center>
        <img src="images/b2.jpg" alt="Gioconda" width="400" height="500">
        <p>La Gioconda (1503)</p>
        <img src="images/b3.jpg" alt="cena" width="500" height="400">
        <p>La última cena (1498)</p>
        <img src="images/b4.jpg" alt="Salvator Mundi" width="400" height="500">
        <p>Salvator Mundi (1500)</p>
        <img src="images/b5.jpg" alt="dama" width="400" height="500">
        <p>La dama del armiño (1490)</p>
        <img src="images/b6.jpg" alt="San Juan" width="400" height="500">
        <p>San Juan Bautista (1513)</p>
    </center>
{{> footer}}